{% extends "home/header.html" %}

{% block content %}
{% load staticfiles %}

<!-- Modal -->
		<div class="container" id="objetivos">
			<h1 class="display-4">Muito Obrigado!</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac auctor nibh. Fusce quam urna, rutrum eget dui nec, ornare eleifend ex. Nullam ut nulla sit amet ex consectetur elementum eget at ipsum. Curabitur rhoncus sapien malesuada posuere dignissim. Maecenas luctus ipsum sit amet justo mattis, sit amet lacinia lacus sollicitudin. Ut bibendum lacus nisi, vitae scelerisque ex congue vitae. Suspendisse tristique ullamcorper felis, tristique vestibulum turpis accumsan molestie. Aliquam cursus ligula sodales tincidunt gravida.

			Nullam semper, ligula sit amet varius maximus, sem tellus ultrices ex, pellentesque aliquam ipsum massa eget arcu. Duis malesuada gravida diam ac ultrices. Suspendisse nec erat sit amet sem porta ullamcorper. Mauris non massa varius, consectetur justo eget, finibus ipsum. Quisque eu augue nec arcu vestibulum maximus quis quis urna. Praesent nec cursus nibh, ac hendrerit mauris. Aenean vestibulum odio risus, sagittis viverra libero mollis eleifend. Pellentesque congue accumsan lorem quis ullamcorper. Donec eu ipsum fringilla, semper leo elementum, pretium nisi. Proin erat nisi, ultricies vitae nisi in, hendrerit viverra lacus. Nulla vehicula augue et odio laoreet, eu scelerisque urna tristique.</p>
			<a class="btn btn-primary btn-lg my-3" href="/" role="button">Página Inicial</a>
			<a class="btn btn-primary btn-lg my-3" href="/checkin/" role="button">Novo Check-In</a>
		</div>

{% endblock %}