{% extends "home/header.html" %}

{% block content %}
{% load staticfiles %}

<!-- checkin -->
		<div class="container" id="pre_checkin">
			<h1 class="display-4 mb-2">Novidade!</h1>
			<div class="row text-justify mt-2">
				<div class="col-md-8 mb-3 mt-6">
					<p class="lead">Cultive-se é um evento completamente conivente com os ideais sustentáveis pregados pelo movimento escoteiro e, assim, temos uma grande preocupação com o meio ambiente. Tendo isso em mente, acreditamos que podemos otimizar alguns processos para reduzir o impacto negativo que causamos na terra. Em um evento pioneiro, cada participante deve entregar, no momento do check-in, duas folhas: a autorização e a ficha médica. Em um evento com uma média de 250 participantes, recolhemos algo em torno de <b>500 folhas de papel</b> impressas que, após o evento, são descartadas.</p>
					<p class="lead"	>Pensando neste desperdício de árvores e evitando o descarte deste material, decidimos experimentar um check-in online, onde cada participante envia seus dados e fichas diretamente para nosso banco de dados, onde ficam armazenados e podem ser recuperados remotamente e sempre que necessário pela equipe do evento!</p>
					<p class="lead">A partir do dia <b>18 de Março de 2018</b>, todos os participantes inscritos no evento pelo sistema Paxtu <b>deverão</b> realizar seu check-in online no site do evento. </p>
					<p class="lead"><b>Não esqueça de fazer o sua inscrição até o dia 18 de Março!</b></p>
				</div>
				<div class="col-md-4 mb-3">
					<img src="{% static 'img/sustentavel.png' %}" class="img-fluid" style="width: auto; height: auto;">
				</div>
			</div>
			<h1 class="display-4 mb-3">Datas Importantes</h1>
			<div class="row  mt-3">
				<div class="col-md-3 mb-3 mt-6">
					<img src="{% static 'img/calendar-icon.png' %}" class="img-fluid" style="width: auto; height: auto;">
				</div>
				<div class="col-md-9 mb-3 mt-6 align-self-center">
					<table class="table">
						<tbody>
							<tr>
								<td><p class="lead">08/02/2019 - 17/03/2019</p></td>
								<td><p class="lead">Inscrições via Meu Paxtu</p></td>
							</tr>
							<tr>
								<td><p class="lead">18/03/2019 - 08/04/2019</p></td>
								<td><p class="lead">Check-in Online</p></td>
							</tr>
							<tr>
								<td><p class="lead">19/04/2019 - 21/04/2019</p></td>								
								<td><p class="lead">Acampamento Regional Pioneiro Cultive-se!!</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<form class="container needs-validation" action="submit/" method='post' enctype="multipart/form-data" >
			{% csrf_token %}
			<div>
				<h1 class="display-4">Dados Pessoais</h1>
				<div class="form-row">
					<div class="form-group col-sm-10">
						<label for="exampleInputPassword1">Nome</label>
						<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome" name="nome_part" required>
					</div>
					
					<div class="form-group col-sm-2">
						<label for="exampleInputPassword1">Idade</label>
						<input type="number" class="form-control" id="exampleInputPassword1" placeholder="Idade" name="idade_part"required>
					</div>
					
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">E-mail</label>
					<input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail" name="email_part" required>
				</div>
			</div>
			<div>
				<h1 class="display-4">Dados do Grupo Escoteiro</h1>
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="exampleInputPassword1">Nome do Grupo</label>
						<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome" name="nome_grupo"required>
					</div>
					
					<div class="form-group col-sm-4">
						<label for="exampleInputPassword1">Numeral</label>
						<input type="number" class="form-control" id="exampleInputPassword1" placeholder="Numeral" name="numeral_grupo" required>
					</div>

					<div class="form-group col-sm-2">
						<label for="exampleInputPassword1">Estado</label>
						<select id="inputEstado" class="form-control" name="estado_grupo">
							<option>AC</option>
							<option>AL</option>
							<option>AP</option>
							<option>AM</option>
							<option>BA</option>
							<option>CE</option>
							<option>DF</option>
							<option>ES</option>
							<option>GO</option>
							<option>MA</option>
							<option>MT</option>
							<option>MS</option>
							<option>MG</option>
							<option>PA</option>
							<option>PB</option>
							<option>PR</option>
							<option>PE</option>
							<option>PI</option>
							<option>RJ</option>
							<option>RN</option>
							<option>RS</option>
							<option>RO</option>
							<option>RR</option>
							<option>SC</option>
							<option selected>SP</option>
							<option>SE</option>
							<option>TO</option>
						</select>
					</div>					
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Nome do Diretor Presidente</label>
					<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nome do Diretor Presidente" name="nome_diretor"> 
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">E-mail do Diretor Presidente</label>
					<input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail do Diretor presidente" name="email_diretor" required>
				</div>
			</div>
			<div>
				<h1 class="display-4">Arquivos</h1>
				<label for="fichaMedica">Ficha Médica</label>
				<div class="custom-file mb-4">
					<input type="file" class="custom-file-input" id="fichaMedica" name="ficha_medica" required>
					<label class="custom-file-label" for="customFile">Escolha o Arquivo</label>
				</div>
				
				<label for="autorizacao">Autorização</label>
				<div class="custom-file mb-4">
					<input type="file" class="custom-file-input" id="autorizacao" name="autorizacao" required>
					<label class="custom-file-label" for="customFile">Escolha o Arquivo</label>
				</div>

			</div>
			<button class="btn btn-primary mb-4" type="submit" data-toggle="modal" href="/submit/">Enviar</button>
		</form>

		<script src="{% static 'node_modules/bs-custom-file-input/dist/bs-custom-file-input.js' %}"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				bsCustomFileInput.init()
				var btn = document.getElementById('btnResetForm')
				var form = document.querySelector('form')
				btn.addEventListener('click', function () {
					form.reset()
				})
			});
		</script>

{% endblock %}