{% extends "home/header.html" %}

{% block content %}
{% load staticfiles %}

<!-- envolved people/companies -->
		<div class="container my-5">
			<div class="container" id="Patrocinadores">
				<h1 class="display-4">Patrocinadores</h1>
			
			</div>
			<div class="container" id="Apoiadores">
				<h1 class="display-4">Apoiadores</h1>
				<div class="row text-center">
					<div class="col-md-3">
						<a href="https://www.enactuscaaso.com/">
							<img src="{% static 'img/Enactus.png' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						</a>
					</div>
					<div class="col-md-3">
						<a href="https://www.facebook.com/geisasaocarlos/">
							<img src="{% static 'img/GEISA.jpg' %}" class="img-fluid mt-3" style="width: 60%; height: auto;">
						</a>
					</div>
					<div class="col-md-3">
						<a href="http://veracidade.eco.br/">
							<img src="{% static 'img/Veracidade.png' %}" class="img-fluid mt-3" style="width: 40%; height: auto;">
						</a>
					</div>
					<div class="col-md-3">
						<a href="http://www.ecovilatiba.org.br/">
							<img src="{% static 'img/tiba.png' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						</a>
					</div>
				</div>
			
			</div>
			<div class="container" id="Organização">
				<h1 class="display-4">Organização</h1>
				<div class="row text-center">
					<div class="col-md-2">
						<img src="{% static 'img/gu_ribeiro_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Gustavo Ribeiro</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Coordenação Geral</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/Andre_Luiz_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>André Luiz Aragão</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Coordenação Geral</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/casa_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Nicholas Picin Casagrande</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Financeiro / TI</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/artur_malheiros_corte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Artur Almeida Malheiros</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Infraestrutura</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/pedrao_corte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Pedro Moraes Gomes</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Infraestrutura</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/pedro_henrique_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Pedro Henrique</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Infraestrutura</small></p>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-2">
						<img src="{% static 'img/julia_rodrigues_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Júlia Rodrigues</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Infraestrutura</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/Lucas_Teixeira_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Lucas Teixeira</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Programa</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/rafael_rezende_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Rafael Rezende</small></p>
						<p class="lead my-0"><small>GE Arara Azul 178/SP</small></p>
						<p class="lead my-0"><small>Programa</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/italo_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Ítalo Furlan</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Programa</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/Ariane_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Ariane Rezende</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Programa</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/mari_fernandes_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Mariana Teixeira Fernandes</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Programa</small></p>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-2">
						<img src="{% static 'img/pet_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Fellipe Tripovichy</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Comunicação</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/kael_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Kael Loureiro de Bastos</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Comunicação</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/Anic_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Anic Scopinho</small></p>
						<p class="lead my-0"><small>GE Santa Cruz 174/SP</small></p>
						<p class="lead my-0"><small>Comunicação</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/Amanda_g_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Amanda Ghirardini Gaiotto</small></p>
						<p class="lead my-0"><small>GE Arara Azul 178/SP</small></p>
						<p class="lead my-0"><small>Comunicação</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/pedro_saletti_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Pedro Saletti</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Comunicação</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/caio_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Caio Ferreira</small></p>
						<p class="lead my-0"><small>GE Bacury 185/SP</small></p>
						<p class="lead my-0"><small>TI</small></p>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-2">
						<img src="{% static 'img/marcos_bertho_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Marcos Moreno Bertho</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Mestre</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/Carol_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Carolina Caon Pucci</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Mestre</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/marcel_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Marcel Fatibello</small></p>
						<p class="lead my-0"><small>GE São Carlos 251/SP</small></p>
						<p class="lead my-0"><small>Mestre</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/marli_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Marli Custódio</small></p>
						<p class="lead my-0"><small>GE Arara Azul 178/SP</small></p>
						<p class="lead my-0"><small>Mestre</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/vitor_monteiro_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>Vitor Monteiro</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Mestre</small></p>
					</div>
					<div class="col-md-2">
						<img src="{% static 'img/Jose_recorte.jpg' %}" class="img-fluid mt-3" style="width: auto; height: auto;">
						<p class="lead my-0"><small>José Maurício Sanchez</small></p>
						<p class="lead my-0"><small>GE Matão 52/SP</small></p>
						<p class="lead my-0"><small>Mestre</small></p>
					</div>
				</div>
			
			</div>

		</div>

{% endblock %}	