{% extends "home/header.html" %}

{% block content %}
{% load staticfiles %}

<!-- pre check-in -->
		<div class="container" id="pre_checkin">
			<h1 class="display-4">Novidade!</h1>
			<div class="row text-justify">
				<div class="col-md-8 mb-3 mt-6">
					<p class="lead">Cultive-se é um evento completamente conivente com os ideais sustentáveis pregados pelo movimento escoteiro e, assim, temos uma grande preocupação com o meio ambiente. Tendo isso em mente, acreditamos que podemos otimizar alguns processos para reduzir o impacto negativo que causamos na terra. Em um evento pioneiro, cada participante deve entregar, no momento do check-in, duas folhas: a autorização e a ficha médica. Em um evento com uma média de 250 participantes, recolhemos algo em torno de <b>500 folhas de papel</b> impressas que, após o evento, são descartadas.</p>
					<p class="lead"	>Pensando neste desperdício de árvores e evitando o descarte deste material, decidimos experimentar um check-in online, onde cada participante envia seus dados e fichas diretamente para nosso banco de dados, onde ficam armazenados e podem ser recuperados remotamente e sempre que necessário pela equipe do evento!</p>
					<p class="lead">A partir do dia <b>18 de Março de 2018</b>, todos os participantes inscritos no evento pelo sistema Paxtu <b>deverão</b> realizar seu check-in online no site do evento. </p>
				</div>
				<div class="col-md-4 mb-3">
					<img src="{% static 'img/sustentavel.png' %}" class="img-fluid" style="width: auto; height: auto;">
				</div>
			</div>
		</div>


{% endblock %}