{% extends "home/header.html" %}

{% block content %}
{% load staticfiles %}

<!-- envolved people/companies -->
		<div class="container my-5">
			<div class="row">
				<div class="col-md-2 my-5 bg-dark">					
					<ul class="nav flex-column my-3">
						<li class="nav-item">
							<a class="nav-link active text-light" href="#">Patrocinadores</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">Apoiadores</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="#">Organização</a>
						</li>
					</ul>
				</div>
				<div class="col-md-10 mb-3">
					
				</div>
			</div>
		</div>

{% endblock %}	